@use '@angular/material' as mat;
@import 'mixins';
@import 'variables';

$primary-default-value: (
  50: rgba(255, 255, 255, 0.656),
  100: rgba(255, 255, 255, 0.5),
  200: rgba(255, 255, 255, 0.5),
  300: rgba(255, 255, 255, 0.5),
  400: rgba(255, 255, 255, 0.5),
  500: rgba(255, 255, 255, 0.5),
  600: rgba(255, 255, 255, 0.5),
  700: rgba(255, 255, 255, 0.5),
  800: rgba(255, 255, 255, 0.5),
  900: rgba(255, 255, 255, 0.5),
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$warn-default-value: (
  50: #EB5757,
  100: #EB5757,
  200: #EB5757,
  300: #EB5757,
  400: #EB5757,
  500: #EB5757,
  600: #EB5757,
  700: #EB5757,
  800: #EB5757,
  900: #EB5757,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$custom-theme-primary: mat.define-palette($primary-default-value);
$custom-theme-accent:  mat.define-palette(mat.$brown-palette);
$custom-theme-warn:    mat.define-palette($warn-default-value);
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-theme-primary,
    accent: $custom-theme-accent,
    warn: $custom-theme-warn,
  ),
  typography: mat.define-typography-config(),
));

@include mat.core();
@include mat.all-component-themes($custom-theme);


.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label{
  font-size: 20px;
  color: #fff;
  font-family: 'Gina-Light';
  font-weight: 300;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input{
  color: #fff;
  font-size: 20px;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
  color: black;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent;
}
.mat-mdc-form-field:hover .mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent;
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
  border-bottom-color: transparent;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
  border-bottom-color: transparent;
}
.mat-mdc-form-field-subscript-wrapper{
  display: none;
}

.mat-mdc-header-row{
    background: rgb(149 149 149) !important;
    color: #fff !important;
}
.mat-mdc-table tbody, .mat-mdc-table tfoot {
  background: #d3d3d3 !important;
}

.black-background .mat-mdc-select-value{
  padding-left: 15px;
  color: #fff;
}


.mat-mdc-option .mdc-list-item__primary-text {
  color: aliceblue;
}

mat-mdc-table mdc-data-table__table cdk-table mat-elevation-z8 ng-tns-c58-0{
  margin-top: 50px;
}
table {
  margin-top: 20px;
}
.mat-form-field-outline {
  border-color: red !important;
  border: 1px solid red !important;
  border-radius: 0% !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  margin-bottom: 15px;
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel, .mat-mdc-select-panel-above .mdc-menu-surface.mat-mdc-select-panel {
  background-color: #838383;
}