$mainColor: #b5d8f7;
$black: #000;
$rgb-border: rgba(255, 255, 255, 0.2);
$textColor: #ffffff;
$textColorLight: #EDEDED;

$white: #fff;
$gray: #dcdcdc;
$darkGray: #696969;
$darkGrayText: #5a5a5a;
$green: #27ae60;
$yellow: #f2c94c;
$lightGray: rgba(255, 255, 255, 0.4);

// --clr-title: #ffffff;
//     --clr-text: #A9A9A9;
//     --clr-white: #ffffff;
//     --clr-black: #1C1C1C;
//     --clr-red: #B62828;
//     --clr-grey: #EDEDED;
//     --clr-grey-content: #494949;
//     --lf-menu-width: 90px;
//     --transition: all 0.3s;
//     --transition-2: all 0.4s ease-in;
//     --rgb-bullet: 255, 255, 255;
//     --rgb-border: rgba(255, 255, 255, 0.2);
//     --rgb-glass: 46, 46, 46;
//     --clr-icon-bg: rgba(0, 0, 0, 0.4);