<div class="container">
  <div class="content">
    <h2 class="paymentDelivery__title">Оплата та доставка</h2>

    <p class="paymentDelivery__text">Компанія <span class="bold">StudioGlass</span> - Львівська Фабрика Дзеркал здійснює доставку на території усієї України, за
      винятком територій, де проводяться активні бойові дії.</p>
    <p class="paymentDelivery__text">Також у нас діє самовивіз - Ви можете забрати замовлені вироби у наших фірмових магазинах.</p>
    <p class="paymentDelivery__text">У разі виготовлення дзеркала за Вашими індивідуальними параметрами, нам необхідно отримати передоплату. Розмір
      передоплати складає 50% або 100% від суми замовленого виробу. При частковій передоплаті решта суми замовлення
      оплачується при отриманні в компанії перевізника. При цьому необхідно врахувати комісію, що складає 2,5%, від суми
      грошового переказу.
    </p>
  
    <h3 class="paymentDelivery__subtitle">Доставка</h3>
    <ul>
      <li>Кур’єром до Вашого дому у Львові</li>
      <li>До вантажного відділення НОВОЇ ПОШТИ</li>
      <li>Самовивіз у Львові</li>
    </ul>
  
    <p class="paymentDelivery__text">Термін отримання LED-дзеркал складає до 12 робочих днів, враховуючи терміни доставки по Україні. Відповідальність
      за цілісність дзеркал в процесі доставки лежить на магазині!
    </p>
  
    <h3 class="paymentDelivery__subtitle">Способи оплати</h3>
    <ul>
      <li>Готівковий – при отриманні товару в кур’єрських службах</li>
      <li>Безготівковий – оплата за безготівковим розрахунком здійснюється у такий спосіб:</li>
    </ul>
  
    <p class="paymentDelivery__text">Після оформлення замовлення, менеджер електронною поштою надішле Вам рахунок-фактуру, який Ви зможете оплатити в
      касі відділення будь-якого банку або з розрахункового рахунку Вашої фірми. Для юридичних осіб пакет усіх необхідних
      документів надається разом з товаром.
    </p>
  
    <h3 class="paymentDelivery__subtitle">Транспортна упаковка</h3>
    <p class="paymentDelivery__text">Дзеркала компанії StudioGlass доставляються в спеціальній транспортній упаковці (коробка з п’ятишарового
      гофрокартону та пінопласт). <br>
      Також ми поміщаємо виріб в дерев’яний каркас, щоб максимально забезпечити цілісність при доставці. При отриманні
      дзеркала в службі доставки, вам необхідно переконатися, що виріб не пошкоджений. Розкрийте упаковку і уважно
      перевірте отримане дзеркало.
    </p>
      
  </div>
</div>