<article class="articleShowerBoxes">
  <div class="articleShowerBoxes__text">
    <div class="articleShowerBoxes__text--wrapper">
      <h2 class="articleShowerBoxes__title">Shower Boxes</h2>
      <p class="articleShowerBoxes__content">Сучасний інтер'єр ванної кімнати потребує лаконічних рішень, саме тому душова кабіна - хіт сезону! Простий, продуманий дизайн, максимальна функціональність, варіативність дизайнерських рішень - душова кабіна сьогодення це також і стильне доповнення Вашого інтер'єру.</p>
      <p class="articleShowerBoxes__content">Звісно, ми слідкуємо за трендами. Саме тому і пропонуємо Вам велику кількість модернових дизайнів: відкриті та закриті скляні кабіни, перегородки для душу та шторки для ванної, стаціонарні панелі та кутові душові - у нас Ви точно знайдете модель, що припаде Вам до душі!</p>

      <app-btn-link [btnName]="'ОБРАТИ ДУШОВУ КАБІНУ'" [link]="'/product/dushovi-kabini'"></app-btn-link>
    </div>
  </div>

  <img src="/assets/img/shower-big.webp" alt="" class="articleShowerBoxes__img">
</article>