<article class="article">
  <div class="content">
    <img src="/assets/img/studioglass-lifestyle.webp" class="article__img" alt="girl and mirrors">
    
    <div class="content__text">
      <h2 class="article__title" [style.marginTop.px]="marginTopValue">Ми любимо те, що робимо. Наша місія</h2>
      <p class="article__text">Виготовляємо дзеркала з любов`ю!</p>
      <p class="article__text">Це не кліше і не банальність, це те, чим ми живемо щодня! Наша Львівська Фабрика Дзеркал -
        це не просте виробництво із цехами з виготовлення дзеркал та душових кабін, кваліфікованим персоналом та трьома
        фірмовими магазинами по Україні. </p>
      <p class="article__text">Це фабрика, яка несе у світ свою місію - допомогти людям побачити свою природню красу у
        відображенні наших дзеркал. Непотрібно обмежувати себе думкою інших, втискувати себе у стандартні рамки чи
        піддаватися стереотипам - кожна людина унікальна та красива по-своєму і це слід цінувати.</p>
      <p class="article__text">Саме тому ми дбайливо ставимося не тільки до найменшої деталі нашого дзеркала під час
        розробки кожної моделі та її виготовлення, а й до сервісу, який ми надаємо нашим клієнтам. Адже ми хочемо, щоб ви
        усією душею полюбили наші дзеркала та своє відображення у них!</p>
    </div>
    
  </div>
</article>