
.container{
  padding: 91px 0 0 91px;


  @media (max-width: 1440px) {
    padding: 71px 0px 0 71px;
  }
  @media (max-width: 770px) {
    padding: 50px 0px 0px;
  }
}
app-bread-crumbs{
  @media (max-width: 1000px) {
    display: none;
  }
}

.product{
  display: flex;
  color: black;
}
.product__img{
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
}
.product__text{
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}



.addOptions{
  padding: 20px;
  margin:30px 0;

  background-color: #1C1C1C;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.addOptions__text, .addOptions__link{
  color: #fff;
  font-size: 20px;
  font-family: 'Gina-Regular';
  font-weight: 400;
  margin: 0;
}
.addOptions__link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  & > svg{
    margin-left: 10px;
    vertical-align: bottom;
  }
}

.optionsPrice{
  margin-bottom: 30px;
}

.optionsPrice__prise{
  font-size: 24px;
  font-family: 'Gina-Regular';
  font-weight: 400;
}

.changeQuantity{
  display: flex;
}
.changeQuantity__reduce,
.changeQuantity__increase {
  cursor: pointer;
  user-select: none;
  width: 34px;
  height: 34px;

  border-radius: 50%;
  background-color: transparent;

  font-size: 30px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  transition: background-color 250ms linear ;
  &:active{
    transform: translate3d(0, 0.05em, 0);
  }
  &:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
  }
}

.changeQuantity__number {
  min-width: 46px;
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  font-family: "Gina-Regular";
  font-weight: 400;
}
.optionsPrice__itemWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionsPrice__btnAdd{
  cursor: pointer;
  padding: 13px 15px;
  border: 1px solid black;

  text-transform: uppercase;
  background-color: transparent;
  &:active{
    transform: translate3d(0, 0.05em, 0);
  }
  & > svg{
    margin-left: 20px;
    vertical-align: bottom;
  }
}

.consultation{
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Gina-Regular";
  font-weight: 400;
  color: #1C1C1C;
  & > svg{
    vertical-align: bottom;
    margin-left: 20px;
  }
}