<table class="table">
  <thead>
    <tr>
      <th class="header-th">№</th>
      <th class="header-th">Найменування</th>
      <th class="header-th">Шлях</th>
      <th class="header-th">Опис</th>
      <th class="header-th">Зображення</th>
      <th class="header-th">Банер</th>
      <th class="header-th">Дії</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elem of categoriesArr; index as i">
      <td class="body-td">{{i+1}}</td>
      <td class="body-td">{{elem.name}}</td>
      <td class="body-td">{{elem.path}}</td>
      <td class="body-td">{{elem.description | slice:0:350}} <span *ngIf="elem.description">...</span></td>
      <td class="body-td"><img [src]="elem.img" alt="" width="150px"></td>
      <td class="body-td"><img [src]="elem.banner" alt="" width="150px"></td>

      <td class="body-td">
        <button class="edit body-td-btn" (click)="edit(elem)">Редагувати</button>
        <button class="delete body-td-btn" (click)="delete(elem)" >Видалити</button>
      </td>
    </tr>
  </tbody>
</table>


