<div class="container">
  <section class="example-section">
    <h3 class="section__title">Рама</h3>
    <div class="checkboxWrapper">
      <input type="checkbox" id="withoutFrame">
      <label for="withoutFrame"> Без рами</label>
    </div>
  </section>

  <section class="example-section">
    <h3 class="section__title">ФОРМА ДЗЕРКАЛА</h3>
    <div class="checkboxWrapper">
      <input type="checkbox" id="Circle">
      <label for="Circle">Круг</label>
    </div>
    <div class="checkboxWrapper">
      <input type="checkbox" id="Oval">
      <label for="Oval">Овал</label>
    </div>
    <div class="checkboxWrapper">
      <input type="checkbox" id="RoundedCorners">
      <label for="RoundedCorners">Заокруглені кути</label>
    </div>
    <div class="checkboxWrapper">
      <input type="checkbox" id="Rectangle">
      <label for="Rectangle">Прямокутник</label>
    </div>
    <div class="checkboxWrapper">
      <input type="checkbox" id="Arch">
      <label for="Arch">Арка</label>
    </div>
    <div class="checkboxWrapper">
      <input type="checkbox" id="CroppedCircle">
      <label for="CroppedCircle">Зрізаний круг</label>
    </div>
  </section>

  <section class="example-section">
    <h3 class="section__title">ТИП ОСНОВНОЇ ПІДСВІТКИ</h3>
    <div class="checkboxWrapper">
      <input type="checkbox" id="Frontal">
      <label for="Frontal">Фронтальна</label>
    </div>
    <div class="checkboxWrapper">
      <input type="checkbox" id="background">
      <label for="background">Фонова</label>
    </div>
  </section>

  <section class="example-section">
    <h3 class="section__title">МОНТАЖ</h3>
    <div class="checkboxWrapper">
      <input type="checkbox" id="OnTheWall">
      <label for="OnTheWall">На стіні</label>
    </div>
    <div class="checkboxWrapper">
      <input type="checkbox" id="RostovWall">
      <label for="RostovWall">Ростове настінне</label>
    </div>
    <div class="checkboxWrapper">
      <input type="checkbox" id="WallMounted">
      <label for="WallMounted">Настінний на ремені</label>
    </div>
  </section>
</div>