
.btn {
  cursor: pointer;

  display: inline-block;
  position: relative;

  padding: 0 60px 20px 0;

  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  font-size: 14px;
  font-family: "Gina-Regular";
  font-weight: 400;
  letter-spacing: 1.2px;
 
  &::after {
    content: "";
    position: absolute;

    bottom: 0;
    right: 0;
    width: 85%;
    height: 1px;

    background-color: #fff;
    opacity: 0.4;

    transition: width 250ms linear, opacity 250ms linear;
  }
}

.btn:hover::after {
  opacity: 1;
  width: 100%;
}

.btn__style {
  position: absolute;
  right: 10px;
  top: 2px;
}