
<div class="container">
  <button class="addGood" (click)="toggleForm()">ДОДАТИ КАТЕГОРІЮ</button>
  <ng-container *ngIf="openForm">
    <app-category-form></app-category-form>
    <!-- <app-goods-form [editProduct]="editProduct" (addChangProduct)="addChangProduct()"></app-goods-form> -->
  </ng-container>

  <app-category-table></app-category-table>
  <!-- <div class="addPromotion" (click)="addCategoryBtn()">додати продукт</div>
  <ng-container *ngIf="openForm">
    <app-goods-form [editProduct]="editProduct" (addChangProduct)="addChangProduct()"></app-goods-form>
  </ng-container>
  <app-goods-table (sendEditProduct)="sendEditProduct($event)" [productChanged]="productChanged" (changeStatusProductChanged)="changeStatusProductChanged()"></app-goods-table> -->

</div>
